<div class="indie-springboard__wrapper w-100 pa5 db">
  <h1 class="indie-springboard__brand db tc f4 f3-ns fw7 mt0 mb4 link white">{{brand}}</h1>

  <div class="indie-springboard__workspace center pa4 w-100 w-80-ns w-60-m w-40-l bg-white br2">
    <div class="indie-springboard__header mb4">
      <h1 class="indie-springboard__title fw3 tc ma0">{{title}}</h1>
    </div>

    {{yield}}
  </div>
</div>