<div class="db dtc v-mid w-90">
  <h3 class="fw3 ma0">{{title}}</h3>
  <p class="ma0 mt2 gray f6 fw2">{{meta}}</p>
</div>
<div class="db dtc v-mid w-10 tr">
  <i class="material-icons db moon-gray f2 pa2">keyboard_arrow_right</i>
</div>