<div class="w-90 center">

  <div class="pa3 ph4-ns">

    <div class="db dt-ns mw9 center w-100">
      <!-- BRAND -->
      <div class="db dtc-ns v-mid tl w-50">
        <span class="dib f5 f4-ns fw7 mt0 mb1 link white">
          {{title}}
        </span>
      </div>
      <!-- NAVIGATION -->
      <nav class="db dtc-ns v-mid w-100 tl tr-ns mt2 mt0-ns mb4 mb0-m mb0-l">
        {{yield}}
      </nav>
    </div>

  </div>
  
</div>