<div class="w-90 center">

  <div class="pa3 ph4-ns">

    <div class="db dt-ns mw9 center w-100">
      <!-- BRAND -->
      <div class="db dtc-ns v-mid tl w-30">
        <span class="dib f5 f4-ns fw7 pa2 mt0 mb0 link white">
          {{title}}
        </span>
      </div>
      <!-- NAVIGATION -->
      <nav class="db dtc-ns v-mid w-100 tl tr-ns mt2 mt0-ns mb0">
        {{yield}}
      </nav>
    </div>

  </div>

</div>