{{indie-subsection-heading title="Section Heading" description="The Section Heading component should be used once per page, providing a top-level Title and a series of Tabs."}}

<h3 class="doc-heading">Code</h3>
{{code-snippet name="section-heading.hbs"}}

<h3 class="doc-heading">Example</h3>
<div class="component-example">
  {{#indie-section-heading title="Subsection"}}
    {{indie-tab text="Tab 1" icon="face" route="layout"}}
    {{indie-tab text="Tab 2" icon="chat" route="forms"}}
  {{/indie-section-heading}}
</div>