{{indie-subsection-heading title="Validations" description="Inbuilt validation styles"}}

<h4 class="doc-heading">Code</h4>
{{code-snippet name="validations.hbs"}}


<h4 class="doc-heading">Example</h4>
<div class="component-example">
{{#indie-form}}
  {{indie-form-control name='name' model=model value=model.name label='Animal Name'}}
{{/indie-form}}
</div>