{{#indie-section-heading title="Typography"}}
{{/indie-section-heading}}

{{indie-subsection-heading title="Subsection Heading" description="A heading component used to define sub-sections of content"}}

<h3 class="doc-heading">Code</h3>
{{code-snippet name="subsection-heading.hbs"}}

<h3 class="doc-heading">Example</h3>

<div class="component-example">
{{indie-subsection-heading title="Example title" description="A piece of descriptive text describing the subheading"}}
</div>